{% extends 'base.html.twig' %}

{% block body %}
    <h2>Créer un nouveau lieu</h2>

<div>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button>Créer</button>
    {{ form_end(lieuForm) }}
</div>


{% endblock %}

{% block title %}

{% endblock %}

