{% extends 'base.html.twig' %}


{% block body %}
    <h1>Bienvenue sur Sortir !</h1>

    <h2>Texte de presentation</h2>
    <p>Bonjour et bienvenue sur Sortir, l'application de sortie pour les étudiants ! <br>
        Ici nous vous proposeront régulièrement des sorties afin de vous divertir parce qu'il n'y a pas que le travail! <br>
        il est évivemment possible de proposer vous aussi des sorties mais je n'en dis pas plus et vous laisse découvrir le site !
    </p>


{% endblock %}

{% block title %}
    {{ parent() }} | accueil
{% endblock %}

