{% extends 'base.html.twig' %}


{% block body %}
    <h1>Bienvenue sur Sortir !</h1>

    <h2>Texte de presentation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolor ducimus ea error facere inventore ipsum, repellendus. Adipisci aliquam, asperiores aspernatur dicta distinctio dolor, eligendi est fugiat maiores nobis odio possimus quia recusandae reiciendis rem sint, suscipit unde velit veritatis?</p>


{% endblock %}

{% block title %}
    {{ parent() }} | accueil
{% endblock %}

