/*############################## Global  ###################################*/



.form{
    width: 400px;
    height: 300px;
    background-color: rgb(31, 31, 31);
    position: relative;
    text-align: justify-all;
    color: white;
    align-items: center;
}

.form::before,
.form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f);
    width: 100%;
    height: 100%;
    transform: scale(1.02);
    z-index: -1;
    background-size: 500%;
    animation: animate 20s infinite;
}
.form::after {
    filter: blur(50px);
}
@keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*############################## Haut de page  ###################################*/

nav a{
    text-decoration: none;
}

nav{
    text-align: center;
    max-width: 800px;
    margin: auto;

}
header{
    background-color: blanchedalmond;
}



/*##############################  Milieu de page  ###################################*/

body {
    background-color: #999999;
    margin: 0;
    background-image: url("img/banniere.jpg");
    background-size: cover;

}

/*##############################  Bas de page  ###################################*/

footer{
    color: #e0e0e0;
    background-color: black;
}
footer a{
    text-decoration: none;
    color: #e0e0e0;
}
#copy{
    text-align: center;
}



/*##############################  Admin  ###################################*/

/*##############################  Lieu  ###################################*/

/*##############################  Accueil  ###################################*/

/*##############################  Registration  ###################################*/

h1{
    text-align: center;
}

/*##############################  Reset password  ###################################*/


/*##############################  Security  ###################################*/

.alert-danger {
    color: red;
}

.mb-3{
    font-weight: bold;
}

.signin {
    color: aliceblue;
    text-align: center;
}

.checkbox{
    text-decoration: underline;
}

.button login{

}

.mdp a{
    text-decoration: none;
    color: white;
}
/*##############################  Sorties  ###################################*/