{% extends 'base.html.twig' %}

{% block body %}
        Ce projet a été réalisé par: <br><br>
        <div class="box">
            <img src={{ asset('css/img/nopanic.jpg') }} alt="Nous"/>
        </div><br><br>

        <div class="remerciements">
        @Claire Lasserre @Jeremy Larcher @Thibaud Le-Queau @Matthieu Coste
        </div>
{% endblock %}