<nav>
    <ul>
        <li><a href="#" title="Acceuil">Acceuil</a></li>
        <li><a href="#" title="Acceuil">Acceuil</a></li>
        <li>A personnaliser dans template/inc/nav.html.twig</li>
    </ul>
</nav>